/**************/
/* Custom CSS */
/**************/

.ListTitle,
.EditIconTitle  {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: 1px solid #f6f6f6;
}


.IconsList {
  list-style: none;
}

.Icon {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3em;
}


.IconPreview {
  border: 1px solid #f6f6f6;
  flex: 0 0 20%;
}

.IconDetails,
.EditIconDetails {
  padding: 0 1em;
  flex: 0 0 30%;
  font-weight: 100;
}

  .IconTitle {
    font-weight: 100;
    margin-top: 0;
  }

  .IconTags {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

    .IconTags li {
      display: inline-block;
      margin-left: .2em;
    }

  .IconActions {
    margin-top: 1em;
  }
    .IconActions .btn { margin-right: .5em; }

.IconCode,
.EditIconCode {
  flex: 1;
}

.EditIconTitle {
  margin-bottom: 1em;
}

  .EditIconTitle input {
    font-size: 3em;
    border: 0;
    text-align: center;
  }

.EditIconPack {
  text-align: center;
  margin-bottom: 1em;
}

.EditIconActions {
  text-align: center;
  margin-bottom: 2em;
}
  .EditIconActions .btn {
    margin-right: .3em;
  }

.EditIconDetails label {
  font-weight: 100;
}

.EditContainer {
  display: flex;
  align-items: baseline;
  justify-content:space-between;
}

.EditIconDetails input,
.EditIconDetails select {
  margin-left: .5em;
  padding: .3em .5em;
  width: 100%;
}

.EditIconCode {
  white-space: nowrap;
  overflow: auto;
  font-family: monospace;
  padding: 1em;
  border: 1px solid #f7f7f7;
}






.edit-page__header {
  display: flex;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
}

.edit-page__header h1 {
  margin-top: 0;
}

.edit-page__header .form-group {
  margin-bottom: 5px;
}

#edit-layout { display: none; }

.edit-premium {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

.edit-layout {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.edit-layout:after {
  display: block;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g fill="#202020"><path d="M0 0h16v16H0zM24 0h40v16H24zM0 48h16v16H0zM24 48h40v16H24zM0 24h16v16H0zM24 24h40v16H24z"/></g></svg>')
}

#edit-layout:checked ~ header .edit-layout:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g fill="#202020"><path d="M0 0h28v28H0zM0 36h28v28H0zM36 0h28v28H36zM36 36h28v28H36z"/></g></svg>')
}

#edit-layout:checked ~ .edit-icon {
  flex-direction: column;
}

#edit-layout:checked ~ .edit-icon .edit-icon__item {
  flex: 0 0 100%;
  max-width: 100%;
}

#edit-layout:checked ~ .edit-icon .panel-body,
#edit-layout:checked ~ .edit-icon .panel-footer {
  display: none;
}



.edit-icon {
  display: flex;
  margin-right: -.25rem;
  margin-left: -.25rem;
  flex-wrap: wrap;
}

.edit-icon__item {
  position: relative;
  max-width: 100%;
  min-height: 1px;
  padding-right: .25rem;
  padding-left: .25rem;
  flex: 0 0 100%;
  display: none;
}

.edit-icon__item.matched {
  display: block;
}





@media (min-width: 40em) {
  .edit-icon__item {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

.edit-icon__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon__icon {
  padding: 1em;
}

.edit-icon__noResults {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.edit-icon__noResults.matched {
  display: block;
}





/* 
*
*  Overrides
*  
*/

.bootstrap-tagsinput {
  padding: 6px 10px;
  width: 100%;
}
